In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("portal.db")

In [3]:
cur = conn.cursor()

In [4]:
sql = ("create table users (userid INTEGER PRIMARY KEY "
"AUTOINCREMENT, fname text, lname text, dob date, street text, "  
" city text, state text, zipcode Integer, education text, email text, password text)"
)

In [5]:
cur.execute(sql)

In [6]:
sql = ("create table business (business_id INTEGER PRIMARY KEY "
"AUTOINCREMENT, bus_name text, street text, "  
" city text, state text, zipcode Integer, category text, email text, password text)"
)

In [7]:
cur.execute(sql)

In [8]:
sql = ("create table job_category (job_cat_id INTEGER PRIMARY KEY "
"AUTOINCREMENT, category text)"
)
cur.execute(sql)

In [ ]:
sql = sql = ("create table job_category (job_cat_id INTEGER PRIMARY KEY "
"AUTOINCREMENT, category text)"
)

In [11]:
insert = ("INSERT INTO business (bus_name, street, city, state, zipcode, category, email, password)"
            "VALUES ('Tesla', '1113 W. Plum St', 'Fort Collins', 'CO', 80521, 'Technology', 'tesla@gmail.com', '1234')")

In [12]:
cur.execute(insert)

In [14]:
cur.execute("SELECT business_id, bus_name, street, city, state, zipcode, category, email, password FROM business;")
cur.fetchall()

[(1,
  'Tesla',
  '1113 W. Plum St',
  'Fort Collins',
  'CO',
  80521,
  'Technology',
  'tesla@gmail.com',
  '1234')]

In [15]:
insert = ("INSERT INTO users (fname, lname, dob, street, city, state, zipcode, education, email, password)"
            "VALUES ('Onkar', 'Rane', '04-09-1996', '1113 W. Plum St', 'Fort Collins', 'CO', 80521, 'Masters', 'onkar@colostate.edu', 'onkar4996')")

In [16]:
cur.execute(insert)

In [17]:
cur.execute("SELECT userid, fname, lname, dob, street, city, state, zipcode, education, email, password FROM users;")
cur.fetchall()

[(1,
  'Onkar',
  'Rane',
  '04-09-1996',
  '1113 W. Plum St',
  'Fort Collins',
  'CO',
  80521,
  'Masters',
  'onkar@colostate.edu',
  'onkar4996')]

In [18]:
insert = "insert into job_category (category) Values ('Data Science')"
cur.execute(insert)
cur.execute("SELECT job_cat_id, category FROM job_category;")
cur.fetchall()

[(1, 'Data Science')]

In [19]:
sql = ("create table jobs (job_id INTEGER PRIMARY KEY AUTOINCREMENT, " 
        "business_id integer, job_cat_id integer, title text, summary text, post_date date, type text, location text,"
        "FOREIGN KEY(business_id) REFERENCES business(business_id), FOREIGN KEY(job_cat_id) REFERENCES job_category(job_cat_id))")
cur.execute(sql)

In [20]:
cur.execute("Select * from jobs")
names = [description[0] for description in cur.description]
names

['job_id',
 'business_id',
 'job_cat_id',
 'title',
 'summary',
 'post_date',
 'type',
 'location']

In [22]:
sql = ("Create table job_application (user_id integer, business_id integer," 
"FOREIGN KEY(business_id) REFERENCES business(business_id), FOREIGN KEY(user_id) REFERENCES users(userid))")
cur.execute(sql)

In [23]:
cur.execute("Select * from job_application")
names = [description[0] for description in cur.description]
names

['user_id', 'business_id']

In [24]:
insert = ("INSERT INTO jobs (business_id, job_cat_id, title, summary, post_date, type, location) "
            "VALUES (1, 1, 'ML Engineer', 'should know python and tablau', '03-18-2021', 'full-time', 'California')")
cur.execute(insert)
cur.execute("Select * from jobs")
cur.fetchall()

[(1,
  1,
  1,
  'ML Engineer',
  'should know python and tablau',
  '03-18-2021',
  'full-time',
  'California')]

In [25]:
insert = ("Insert into job_application VALUES (1, 1)")
cur.execute(insert)
cur.execute("Select * from job_application")
cur.fetchall()

[(1, 1)]